<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="MyKey" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="MySQL" connectionString="SERVER = 127.0.0.1; DATABASE = dew; UID = root; PASSWORD = " providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>